/* =========================================
   ESTRUTURA BASE (CELULARES - Até 768px)
   ========================================= */
.CarouselContainer {
    /* Variáveis do Componente */
    --bg-btn: rgba(92, 92, 92, 0.34);
    --bg-btn-hover: rgba(54, 54, 54, 0.5);
    --shadow-color: rgb(0, 0, 0);

    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 45vh;
    margin: 0 auto;
}

.SliderTrack {
    display: flex;
    width: 100%; 
    height: 100%;
    transition: transform 0.5s ease-in-out; 
}

.Screen {
    flex: 0 0 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 
        inset 0 40px 40px 0 var(--shadow-color),    
        inset 0 -40px 40px 0 var(--shadow-color);
}

.Trade_Buttons {
    position: absolute; 
    top: 50%;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--bg-btn);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%); 
    transition: background-color 0.2s ease;
}

.Trade_Buttons:hover {
    background-color: var(--bg-btn-hover); 
}

.leftBtn {
    left: 10px;
}

.rightBtn {
    right: 10px;
}

.Seta {
    width: 50%;
    height: auto;
    opacity: 0.9;
    filter: invert(100%);
}

.right {
    transform: rotate(180deg);
}

/* =========================================
   ESTÁGIO 1: TABLETS (Entre 769px e 1100px)
   ========================================= */
@media (min-width: 769px) {
    .CarouselContainer {
        height: 60vh; 
    }

    .Screen {

        box-shadow: 
            inset 0 60px 60px 0 var(--shadow-color),    
            inset 0 -60px 60px 0 var(--shadow-color);
    }

    .Trade_Buttons {
        width: 50px; 
        height: 50px;
    }

    .leftBtn {
        left: 20px; 
    }

    .rightBtn {
        right: 20px;
    }
}

/* =========================================
   ESTÁGIO 2: DESKTOP / PC (A partir de 1101px)
   ========================================= */

@media (min-width: 1101px) {
    .CarouselContainer {
        height: 90vh; 
    }

    .Screen {

        box-shadow: 
            inset 0 100px 100px 0 var(--shadow-color),    
            inset 0 -100px 100px 0 var(--shadow-color);
    }
}