footer{
    display: flex;
    background-color: rgb(8, 8, 8);
    border-top: 1px solid rgb(59, 59, 59);
    padding: 30px;
}
.footerDescription{
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(99, 99, 99);
    letter-spacing: 0.05em;
}
.footerText{
    display: flex;
    align-items: center;
}
.footerImageBackground{
    background-color: rgb(187, 174, 0);
    border-radius: 5px;
}
.footerImage{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding: 7px;
    filter: invert(100);
}
.footerContainerLink{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.footerLink{
    
    display: flex; 
    align-items: center;
    justify-content: center;
    
    padding: 15px;
    height: 50px;
    text-decoration: none;
    font-size: 3vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    color: rgb(187, 174, 0);

    box-sizing: border-box;
    
    transition: all 0.3s ease;
}
.footerLink:hover{
    color: rgb(8, 8, 8);
    text-shadow: 
        0 0 5px rgb(187, 174, 0),
        0 0 15px rgb(187, 174, 0),
        0 0 30px rgb(187, 174, 0),
        0 0 50px rgb(187, 174, 0);
}